#centerText
{
    text-align: center;
}

.pizzaImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.choices{
    display: none;
}

.checkout{
    display: none;
}

#magheritaButton{
    display: none;
}

#mushroomButton{
    display: none;
}

#pepperoniButton{
    display: none;
}

#vegeterianButton{
    display: none;
}

.magheritaClickable {
    cursor: pointer;
    color: #0088cc;
}

.magheritaClickable:hover {
    text-decoration: underline;
}

.mushroomClickable {
    cursor: pointer;
    color: #0088cc;
}

.mushroomClickable:hover {
    text-decoration: underline;
}

.pepperoniClickable {
    cursor: pointer;
    color: #0088cc;
}

.pepperoniClickable:hover {
    text-decoration: underline;
}

.vegeterianClickable {
    cursor: pointer;
    color: #0088cc;
}

.vegeterianClickable:hover {
    text-decoration: underline;
}